body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('../static/img/heroBg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-actions button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remova o sublinhado padrão de links */
}

.user-actions button:hover {
    background-color: #45a049;
}

.my-recipes,
.popular-recipes,
.post-recipe-form {
    margin-bottom: 30px;
}

/* Add styles for flash messages */
.flash-messages {
    margin-bottom: 20px;
}

.flash {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.flash li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Styles for different message types */
.flash-success {
    background-color: #4CAF50;
    color: #fff;
}

.flash-error {
    background-color: #e74c3c;
    color: #fff;
}

.flash-warning {
    background-color: #f39c12;
    color: #fff;
}

.flash-info {
    background-color: #3498db;
    color: #fff;
}


#my-recipes-list li a,
#popular-recipes-list li a {
    text-decoration: none;
    color: #2c3e50; /* Altere para a cor desejada, por exemplo, um preto mais escuro */
    font-size: 18px; /* Altere para o tamanho de fonte desejado */
    font-weight: bold; /* Adiciona negrito */
    cursor: pointer; /* Adiciona o cursor pointer para indicar que é clicável */
    display: inline-block; /* Para permitir a aplicação do tamanho e cor */
}

#my-recipes-list li a:hover,
#popular-recipes-list li a:hover {
    color: #34495e; /* Altere para a cor desejada ao passar o mouse */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-buttons button,
.header-buttons a {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.header-buttons button:hover,
.header-buttons a:hover {
    background-color: #555;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.header-buttons button {
    margin-right: auto; /* Move o botão "Postar Nova Receita" para o meio */
}

form {
    display: none;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}