body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../static/img/nham.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #d8d5d5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    

}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e2e0e0;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none; /* Remova o sublinhado padrão de links */
}

button a {
    text-decoration: none;
}

button:hover {
    background-color: #464646;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    flex: 1; /* Adiciona flex: 1 para centralizar o título */
    text-align: center;
    padding-left: 250px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
}

.header-buttons a {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.header-buttons a:hover {
    background-color: #555;
}

/* Optional: Style for flash messages */
.flash {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
}

.success {
    background-color: #4caf50;
    color: white;
}

.danger {
    background-color: #f44336;
    color: white;
}
