<!-- edit_recipe.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Receita</title>
    <link rel="stylesheet" type="text/css" href="../static/edit_recipe.css">
    {% set csrf_token = session['_csrf_token'] %}
</head>
<body>
    <header>
        <h1>Editar {{ recipe[1] }}</h1>
        <div class="header-buttons">
            <a href="{{ url_for('home', username=session.get('username')) }}" class="button">Voltar para Home</a>
            <a href="#" id="logout" class="button">Sair da conta</a>
        </div>        
    </header>
    
    <form method="post" action="{{ url_for('edit_recipe', post_id=recipe[4]) }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
        
        <label for="new_title">Título</label>
        <input type="text" id="new_title" name="new_title" value="{{ recipe[1] }}" required>
        
        <label for="new_ingredients">Ingredientes</label>
        <textarea id="new_ingredients" name="new_ingredients" rows="4" required>{{ recipe[2] }}</textarea>
        
        <label for="new_instructions">Como Preparar</label>
        <textarea id="new_instructions" name="new_instructions" rows="6" required>{{ recipe[3] }}</textarea>
        
        <button type="submit" >Salvar Edições</button>
    </form>
</body>
</html>
