<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <label for="username">Nome de Usuário</label>
            <input type="text" name="username" required>
            <label for="password">Senha</label>
            <input type="password" name="password" required>
            <button type="submit" class="btn" id="submit">Login</button>
        </form>
        <p>Não tem uma conta? <a href="{{ url_for('register') }}">Registre-se</a></p>
    </div>
    <script src="/static/script.js" type="module"></script>
</body>
</html>