<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postar Nova Receita</title>
    <link rel="stylesheet" type="text/css" href="../static/post_receitas.css">
</head>
<body>
    <header>
        <h1>Nova Receita</h1>
        <div class="header-buttons">
            <a href="{{ url_for('home', username=session.get('username')) }}">Voltar para Home</a>
            <a href="#" id="logout">Sair da conta</a>
        </div>
    </header>
    <div class="container">
        <form id="recipe-form" method="post" action="{{ url_for('post_receita') }}">
            <label for="titulo">Título da Receita</label>
            <input type="text" id="titulo" name="titulo" required>
            
            <label for="ingredientes">Ingredientes</label>
            <textarea id="ingredientes" name="ingredientes" rows="8" required></textarea>
            
            <label for="preparo">Como Preparar</label>
            <textarea id="preparo" name="preparo" rows="20" required></textarea>
            
            <button type="submit">Publicar Receita</button>
        </form>
    </div>
    <script src="/static/login.js" type="module"></script>
</body>
</html>
