<!-- recipe.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe[1] }}</title>
    <link rel="stylesheet" type="text/css" href="../static/recipe.css">
</head>
<body>
    <header>
        <h1>Comidaria</h1>
    </header>
    <div class="container">
        <div class="recipe-actions">
            <a href="{{ url_for('home', username=session.get('username')) }}" class="button-link">Voltar</a>
        
            {% if is_owner %}
                <a href="{{ url_for('edit_recipe', post_id=recipe[4]) }}" class="button-link">Editar</a>
                <form action="{{ url_for('delete_recipe', post_id=recipe[4]) }}" method="post" style="display: inline;">
                    <button type="submit" class="button-link">Excluir</button>
                </form>
            {% endif %}
        </div>        
        <div class="recipe-details">
            <h2 class="title">{{ recipe[1] }}</h2>
            <p class="ingredients">Ingredientes</p>
            <div class="ingredientsp">{{ recipe[2] }}</div>
            <p class="preparation">Modo de preparo</p>
            <div class="preparationp">{{ recipe[3] }}</div>
        </div>
        
    </div>
</body>
</html>
