<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h2>Registro</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                        <li class="{{ message[0] }}">{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="{{ message[0] }}">{{ message[1] }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form method="POST">
            <label for="username">Nome de Usuário</label>
            <input type="text" name="username" required>
        
            <label for="email">E-mail</label>
            <input type="email" name="email" required>
        
            <label for="password">Senha</label>
            <input type="password" name="password" required>
        
            <button type="submit" class="btn">Registrar</button>
        </form>
        <p>Já tem uma conta? <a href="{{ url_for('login') }}">Faça o login</a></p>
    </div>
    <script src="/static/script.js" type="module"></script>
</body>
</html>


