<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form>
                <h1>Cria uma conta</h1> 
                <input type="text" placeholder="Usuário">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Senha">
                <button>Cadastrar</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>Login</h1>
                <input type="text" placeholder="Usuário">
                <input type="password" placeholder="Senha">
                <a href="#">Esqueceu sua senha?</a>
                <button>Login</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bem vindo!</h1>
                    <p>Já possui cadastro? Entre com seu acesso.</p>
                    <button class="hidden" id="login">Login</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Olá, visitante!</h1>
                    <p>Não possui cadastro? Crie uma conta e tenha acesso a todos os conteúdos da Comidaria.</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../JS/scripts.js" type="modules"></script>
</body>

</html>